.contact-content{
    height: 90vh;
    /* background-color: rgba(118, 118, 226, 0.575); */
    display: block;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

.contact-content::after{
    content: '';
    background-image: url('/img/11.svg');
    width: 100%;
    background-size: cover;
    border-radius: 18px;
    height: inherit;
    opacity: 0.2;
    position: absolute;
    top: 0;
    z-index: -1;
}

